<div class="main">
  <form id="form" class="form">

    <h3 class="heading">Đăng nhập</h3>
    <p class="desc">Đăng nhập sổ ghi nợ!</p>

    <div class="form-group mt-4">
      <label for="account" class="form-label">Account (*)</label>
      <input
        id="account"
        name="account"
        type="text"
        placeholder="VD: Nhập tài khoản"
        class="form-control"
      />
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <label for="password" class="form-label">Mật khẩu (*)</label>
      <input
        id="password"
        name="password"
        type="password"
        placeholder="Nhập mật khẩu"
        class="form-control"
      />
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <div class="svg-captcha">
        <img src="/captcha" id="captcha-img" />
        <div class="captchas">
          <input
            id="captcha"
            name="captcha"
            type="text"
            placeholder="Captcha"
            class="captcha"
          />
          <button type="button" id="change-captcha"><i
              class="bx bx-rotate-left"
            ></i></button>
        </div>
      </div>
    </div>
    <button type="button" class="form-submit" id="form-submit">Đăng nhập</button>

    <div class="mt-4"></div>
    <div class="row">
      <div class="col-6 col-lg-6">
        <a href="/passwordrr">Quên mật khẩu</a>
      </div>
      <div class="col-6 col-lg-6">
        <a href="/signup">Đăng ký</a>
      </div>
    </div>
  </form>
</div>

<script src="/js/Validator.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
      Validator({
        form: '#form',
        formGroupSelector: '.form-group',
        errorSelector: '.form-message',
        rules: [
            Validator.isRequired('#account', 'Vui lòng nhập tài khoản của bạn'),
            Validator.isRequired('#password', 'Vui lòng nhập mật khẩu'),
            Validator.minLength('#password', 6),
        ],
      });

      handleChangCaptcha();
      handleLogin();
  })     
</script>