<div class="main">
  <form class="form" id="form" action="/passwordrr" method="post">
    <h3 class="heading">Reset Password</h3>
    <span class="err">{{error}}</span>

    <div class="form-group mt-4">
      <label for="account" class="form-label">Account (*)</label>
      <input
        id="account"
        name="account"
        type="text"
        placeholder="VD: Nhập tài khoản"
        class="form-control"
      />
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <label for="email" class="form-label">Email (*)</label>
      <input
        id="email"
        name="email"
        type="text"
        placeholder="VD: email@domain.com"
        class="form-control"
      />
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <div class="svg-captcha">
        <img src="/captcha" id="captcha-img" />
        <div class="captchas">
          <input
            id="captcha"
            name="captcha"
            type="text"
            placeholder="Captcha"
            class="captcha"
          />
          <button type="button" id="change-captcha"><i
              class="bx bx-rotate-left icon"
            ></i></button>
        </div>
      </div>
    </div>
    <button type="submit" class="form-submit" id="form-submit">Submit</button>

    <div class="spacer mt-4"></div>
    <div class="row">
      <div class="col-12"><a href="/login">Quay lại đăng nhập</a></div>
    </div>
  </form>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    Validator({
      form: '#form',
      formGroupSelector: '.form-group',
      errorSelector: '.form-message',
      rules: [
          Validator.isRequired('#account', 'Vui lòng nhập tài khoản của bạn'),
          Validator.isEmail('#email'),
      ],
    });
    handleChangCaptcha();
    handleRequestResetPassword();
  })
</script>