.app-content {
  position: relative;
  background: #e4e9f7;
  margin-top: 50px;
  padding: 24px 32px;
  left: 224px;
  width: calc(100% - 224px);
  transition: all 0.5s ease;
  height: 100vh;
}

.sidebar.closes ~ .app-content {
  left: 60px;
  width: calc(100% - 60px);
}
