.card-group {
  .card-header {
    display: flex;
    justify-content: space-between;
    background-color: #3a4060;
    padding: 0 16px;
    align-items: center;

    .header {
      display: flex;
      align-items: center;
      margin-top: 16px;

      .nav-tabs {
        border: none;

        .nav-link.active {
          color: #2f1c6a;
          border: none;
        }

        a {
          min-width: 120px;
          text-align: center;
          color: #b4c2d4;
          border: none;
          padding: 12px 16px;
        }
      } 
    }

    h5 {
      color: #fff;
      margin: 10px 24px 10px 8px;
    }

    span {
      color: #b4c2d4;
      font-size: 12px;
      margin-left: 12px;
    }
  }

  .card-body {
    .body {
      min-height: 68vh;
      max-height: 68vh;
      position: relative;
      display: flex;
      flex-direction: column;
      overflow: scroll;
      border: 1px solid #c7d5e6;

      table {
        tr,
        td {
          min-width: 100px;
          font-size: 14px;
        }

        tr {
          text-align: center;
        }

        td {
          vertical-align: middle;
        }
      }
    }

    .card-links {
      border: 1px solid #c7d5e6;
      min-height: 68vh;
      max-height: 68vh;
      padding: 0 16px;
      border-radius: 8px;
      
      .card-link {
        width: 100%;
        margin: 16px 0;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

        .card-body-hover {
          display: none;
        }

        .card-body {
          background-color: rgb(185, 235, 249);
          min-height: 180px;
          max-height: 180px;
        }

        .card-footer {
          display: flex;
          justify-content: space-between;
          padding: 8px 16px;

          h5 {
            margin: 0;
            font-size: 16px;
            margin-top: 4px;
          }
        }
      }

      .card-link:hover {
        .card-body-hover {
          display: block !important;
        }

        .card-body {
          display: none;
        }

        a {
          text-decoration: none;
        }
      }
    }

    label {
      text-align: right;
      font-weight: 500;
    }

    textarea {
      min-height: 120px;
    }
  }

  .card-footer {
    padding: 4px 8px;

    .justify-content-center {
      display: flex;
      align-items: center;
    }

    button {
      width: 100%;
      border: 1px solid #c7d5e6;
    }

    button:hover {
      background-color: #b7bfc8;
    }

    input {
      padding: 4px 8px;
      margin: 0 4px;
      border: 1px solid #c7d5e6;
      border-radius: 4px;
      max-width: 80px;
    }
  }

  i {
    color: #fff;
    margin-right: 4px;
  }
}

.modal-dialog {
  width: 60vw;
  margin: 16px;

  label {
    width: 100%;

    .debt {
      text-align: center;
      background-color: #c8ced3;
      color: #fff;
    }

    .debts {
      cursor: pointer;
    }

    .choose {
      background-color: #17a2b8;
    }
  }
}

@media (min-width: 576px) {
  .modal-dialog {
      max-width: none;
      margin: 32px auto;
  }
}