.app-header {
  position: fixed;
  height: 50px;
  background-color: fff;
  border: 1px solid #c7d5e6;
  z-index: 500;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;

  .content-header {
    position: relative;
    left: 224px;
    height: 50px;
    width: calc(100% - 224px);
    align-items: center;
    transition: all 0.5s ease;
    display: flex;
    padding: 0 8px;
    justify-content: space-between;

    .title-header {
      font-size: 24px;
      font-weight: 600;
      margin-left: 24px;
    }

    .account {
      display: flex;
      align-items: center;
    }

    .avatar {
      height: 40px;
      width: 40px;
      border-radius: 4px;
      padding: 4px;
      border: 1px solid #c7d5e6;


      img {
        width: 100%;
        border-radius: 4px;
        opacity: 0.75;
      }
    }

    .dropdown {
      text-align: right;
      height: 40px;

      .dropdown-menu {
        right: 0;
        margin-top: 6px;
        background-color: #fff;
        border: 1px solid #c7d5e6;
        width: 96px;
        padding: 0;

        .dropdown-item {
          padding: 8px 16px;
        }

        .dropdown-divider {
          margin: 0;
        }
      }

      .btn {
        color: #2f1c6a;
      }
    }
  }
}

.sidebar.closes ~ .app-header .content-header {
  left: 60px;
  width: calc(100% - 60px);
}
