.home {
    #calendar {
        width: 100%;
        min-height: 70vh;
        border-radius: 32px;

        button {
            min-height: 40px;
        }

        a {
            text-decoration: none;
        }

        .card-body {
            padding: 16px;
            padding-bottom: 24px;

            .header-calendar {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 24px;
                margin-top: 8px;

                .today {
                    height: 40px;
                    width: 270px;
                    display: flex;
                    gap: 12px;

                    .arrows {
                        display: flex;
                        background-color: #3a4060;
                        width: fit-content;
                        height: 40px;
                        border-radius: 6px;
                        gap: 10px;

                        .arrow {
                            width: 40px;
                            height: 40px;
                            background-color: #3a4060;
                            font-size: 24px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 6px;
                            cursor: pointer;
                            margin: 0;
                        }

                        .arrow:hover {
                            background-color: #5a6085;
                        }
                    }

                    .title-today {
                        width: 90px;
                        height: 40px;
                        background-color: #3a4060;
                        border-radius: 6px;
                        color: #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .title-today:hover {
                        background-color: #5a6085;
                    }
                }

                .months {
                    span {
                        color: #1e1e2d;
                        font-size: 24px;
                        font-weight: 600;
                    }
                }

                .view-mode {
                    width: 270px;
                    height: 40px;
                    border-radius: 6px;
                    display: flex;
                    background-color: #3a4060;

                    .mode {
                        width: 90px;
                        height: 40px;
                        border-radius: 6px;
                        background-color: #3a4060;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #fff;
                    }

                    .choose {
                        background-color: #5a6085;
                    }
                }
            }

            .body-calendar {
                border: 1px solid #c7d5e6;
                border-radius: 6px;

                .week-days {
                    display: flex;

                    .week-day {
                        width: calc(100% / 7);
                        height: 56px;
                        border: 1px solid #c7d5e6;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 16px;
                        font-weight: 600;
                    }
                }

                .days {
                    display: flex;
                    flex-wrap: wrap;

                    .day {
                        width: calc(100% / 7);
                        height: 80px;
                        border: 1px solid #c7d5e6;
                        text-align: right;

                        button {
                            outline: none   ;
                            height: 100%;
                            width: 100%;
                            background-color: #fff;
                            border: none;
                            cursor: pointer;
                            text-align: right;
                            padding-bottom: 60px;
                            padding-top: 4px;
                            padding-right: 8px;
                        }

                        button:focus {
                            border: none;
                            box-shadow: rgba(3, 102, 214, 0.5) 5px 5px 5px 5px;
                        }
                    }

                    .next-date, .prev-date {
                        color: #c7d5e6;
                        cursor: cell;
                    }

                    #today {
                        background-color: #c7d5e6 !important;
                    }
                }
            }
        }

    }
}