.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 224px;
  background-color: #1e1e2d;
  z-index: 1000;
  transition: all 0.5s ease;

  .header-name {
    width: 100%;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    transition: opacity 0.2s linear;

    a {
      text-decoration: none;
    }
  }

  .nav-links {
    height: calc(100% - 50px);
    padding: 30px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    li {
      position: relative;
      list-style: none;
      transition: all 0.4s ease;

      a {
        display: flex;
        align-items: center;
        text-decoration: none;

        i {
          height: 50px;
          min-width: 64px;
          text-align: center;
          line-height: 50px;
          color: #b4c2d4;
          font-size: 20px;
          cursor: pointer;
        }

        .link-name {
          color: #b4c2d4;
          transition: opacity 0.2s linear;
        }
      }

      .toggle {
        text-align: right;
        background-color: #2a2e45;
        height: 50px;
        padding: 9px 0;

        .bx-chevron-left {
          font-size: 32px !important;
          color: #b4c2d4;
          cursor: pointer;
        }
      }
    }

    .active {
      background-color: #2ca1c6 !important;

      a {
        .link-name {
          color: #fff !important;
        }

        i {
          color: #fff !important;
        }
      }
    }

    li:hover {
      background-color: #2ca1c6;

      .link-name {
        color: #fff;
      }

      i {
        color: #fff;
      }
    }
  }
}

.sidebar.closes {
  width: 64px;
  opacity: 1;

  .header-name {
    opacity: 0;
  }

  .nav-links {
    overflow: visible;

    li {
      .link-icon {
        display: block;
      }

      .link-name {
        display: none;
      }

      .toggle {
        display: flex;
        justify-content: center;
        align-items: center;

        .bx-chevron-left {
          transform: rotate(180deg);
        }
      }
    }
  }
}
