.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 224px;
  background-color: #1e1e2d;
  z-index: 1000;
  transition: all 0.5s ease;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;

  .header-name {
    width: 100%;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    transition: opacity 0.2s linear;

    a {
      text-decoration: none;
    }
  }

  .nav-links {
    height: calc(100% - 50px);
    padding: 30px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .dropdownMenu {
      cursor: pointer;
    }

    li {
      .dropdownItem {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .sub-menu {
        background: #27273a;
        display: none;
        list-style: none;

        li {
          a {
            height: 50px;
            color: #b4c2d4;
            font-size: 15px;
            padding: 5px 0 5px 64px;
            transition: all 0.3s ease;
          }

          a:hover {
            opacity: 1;
          }
        }
      }
    }

    li.showMenu {
      .arrow {
        transform: rotate(180deg);
      }
      .sub-menu {
        display: block;
      }
    }

    i {
      height: 50px;
      min-width: 64px;
      text-align: center;
      line-height: 50px;
      color: #b4c2d4;
      font-size: 20px;
      cursor: pointer;
    }

    div {
      position: relative;
      list-style: none;
      transition: all 0.4s ease;

      a {
        display: flex;
        align-items: center;
        text-decoration: none;

        .link-name {
          color: #b4c2d4;
          transition: opacity 0.2s linear;
        }
      }

      .toggle {
        text-align: right;
        background-color: #2a2e45;
        height: 50px;
        cursor: pointer;

        .bx-chevron-left {
          font-size: 32px !important;
          color: #b4c2d4;
        }
      }

      .toggle:hover {
        background-color: #3a4060;

        .bx-chevron-left {
          color: #fff;
        }
      }
    }

    li:focus {
      background-color: #17a2b8 !important;
    }

    .active {
      background-color: #17a2b8 !important;

      a {
        .link-name {
          color: #fff !important;
        }

      }
      i {
        color: #fff !important;
      }
    }

    li:hover {
      background-color: #3a4060;

      .link-name {
        color: #fff;
      }

      i {
        color: #fff;
      }
    }
  }
}

.sidebar.closes {
  width: 64px;
  opacity: 1;

  .header-name {
    opacity: 0;
  }

  .nav-links {
    overflow: visible;

    .dropdownMenu {
      .arrow {
        display: none;
      }
    }

    li {
      .sub-menu {
        position: absolute;
        left: 100%;
        top: 80px;
        border-radius: 0 6px 6px 0;
        opacity: 0;
        display: block;
        pointer-events: none;
        transition: 0s;
        width: 132px;

        a {
          margin-left: 16px;
          height: 50px;
          padding: 0;
        }
      }

      .link-icon {
        display: block;
      }

      .link-name {
        display: none;
      }
    }

    li:hover .sub-menu {
      top: 100px;
      opacity: 1;
      pointer-events: auto;
      transition: all 0.4s ease;
    }

    .toggle {
      display: flex;
      justify-content: center;
      align-items: center;

      .bx-chevron-left {
        transform: rotate(180deg);
      }
    }
  }
}
