@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--text-color); }

:root {
  --bg-color: #1dbfaf;
  --bg-hover: #1ac7b6;
  --text-color: #2f1c6a;
  --danger-color: #f33a58;
  --tran-05: all 0.3s ease;
  --tran-04: all 1s ease; }

.app-header {
  position: fixed;
  height: 50px;
  background-color: fff;
  border: 1px solid #c7d5e6;
  z-index: 500;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px; }
  .app-header .content-header {
    position: relative;
    left: 224px;
    height: 50px;
    width: calc(100% - 224px);
    align-items: center;
    transition: all 0.5s ease;
    display: flex;
    padding: 0 8px;
    justify-content: space-between; }
    .app-header .content-header .title-header {
      font-size: 24px;
      font-weight: 600;
      margin-left: 24px; }
    .app-header .content-header .account {
      display: flex;
      align-items: center; }
    .app-header .content-header .avatar {
      height: 40px;
      width: 40px;
      border-radius: 4px;
      padding: 4px;
      border: 1px solid #c7d5e6; }
      .app-header .content-header .avatar img {
        width: 100%;
        border-radius: 4px;
        opacity: 0.75; }
    .app-header .content-header .dropdown {
      text-align: right;
      height: 40px; }
      .app-header .content-header .dropdown .dropdown-menu {
        right: 0;
        margin-top: 6px;
        background-color: #fff;
        border: 1px solid #c7d5e6;
        width: 96px;
        padding: 0; }
        .app-header .content-header .dropdown .dropdown-menu .dropdown-item {
          padding: 8px 16px; }
        .app-header .content-header .dropdown .dropdown-menu .dropdown-divider {
          margin: 0; }
      .app-header .content-header .dropdown .btn {
        color: #2f1c6a; }

.sidebar.closes ~ .app-header .content-header {
  left: 60px;
  width: calc(100% - 60px); }

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 224px;
  background-color: #1e1e2d;
  z-index: 1000;
  transition: all 0.5s ease;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px; }
  .sidebar .header-name {
    width: 100%;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    transition: opacity 0.2s linear; }
    .sidebar .header-name a {
      text-decoration: none; }
  .sidebar .nav-links {
    height: calc(100% - 50px);
    padding: 30px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .sidebar .nav-links .dropdownMenu {
      cursor: pointer; }
    .sidebar .nav-links li .dropdownItem {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .sidebar .nav-links li .sub-menu {
      background: #27273a;
      display: none;
      list-style: none; }
      .sidebar .nav-links li .sub-menu li a {
        height: 50px;
        color: #b4c2d4;
        font-size: 15px;
        padding: 5px 0 5px 64px;
        transition: all 0.3s ease; }
      .sidebar .nav-links li .sub-menu li a:hover {
        opacity: 1; }
    .sidebar .nav-links li.showMenu .arrow {
      transform: rotate(180deg); }
    .sidebar .nav-links li.showMenu .sub-menu {
      display: block; }
    .sidebar .nav-links i {
      height: 50px;
      min-width: 64px;
      text-align: center;
      line-height: 50px;
      color: #b4c2d4;
      font-size: 20px;
      cursor: pointer; }
    .sidebar .nav-links div {
      position: relative;
      list-style: none;
      transition: all 0.4s ease; }
      .sidebar .nav-links div a {
        display: flex;
        align-items: center;
        text-decoration: none; }
        .sidebar .nav-links div a .link-name {
          color: #b4c2d4;
          transition: opacity 0.2s linear; }
      .sidebar .nav-links div .toggle {
        text-align: right;
        background-color: #2a2e45;
        height: 50px;
        cursor: pointer; }
        .sidebar .nav-links div .toggle .bx-chevron-left {
          font-size: 32px !important;
          color: #b4c2d4; }
      .sidebar .nav-links div .toggle:hover {
        background-color: #3a4060; }
        .sidebar .nav-links div .toggle:hover .bx-chevron-left {
          color: #fff; }
    .sidebar .nav-links li:focus {
      background-color: #17a2b8 !important; }
    .sidebar .nav-links .active {
      background-color: #17a2b8 !important; }
      .sidebar .nav-links .active a .link-name {
        color: #fff !important; }
      .sidebar .nav-links .active i {
        color: #fff !important; }
    .sidebar .nav-links li:hover {
      background-color: #3a4060; }
      .sidebar .nav-links li:hover .link-name {
        color: #fff; }
      .sidebar .nav-links li:hover i {
        color: #fff; }

.sidebar.closes {
  width: 64px;
  opacity: 1; }
  .sidebar.closes .header-name {
    opacity: 0; }
  .sidebar.closes .nav-links {
    overflow: visible; }
    .sidebar.closes .nav-links .dropdownMenu .arrow {
      display: none; }
    .sidebar.closes .nav-links li .sub-menu {
      position: absolute;
      left: 100%;
      top: 80px;
      border-radius: 0 6px 6px 0;
      opacity: 0;
      display: block;
      pointer-events: none;
      transition: 0s;
      width: 132px; }
      .sidebar.closes .nav-links li .sub-menu a {
        margin-left: 16px;
        height: 50px;
        padding: 0; }
    .sidebar.closes .nav-links li .link-icon {
      display: block; }
    .sidebar.closes .nav-links li .link-name {
      display: none; }
    .sidebar.closes .nav-links li:hover .sub-menu {
      top: 100px;
      opacity: 1;
      pointer-events: auto;
      transition: all 0.4s ease; }
    .sidebar.closes .nav-links .toggle {
      display: flex;
      justify-content: center;
      align-items: center; }
      .sidebar.closes .nav-links .toggle .bx-chevron-left {
        transform: rotate(180deg); }

.main {
  display: flex;
  justify-content: center;
  background-color: #E4E9F7;
  min-height: 100vh;
  padding-top: 48px; }
  .main .form {
    width: 480px;
    min-height: 100px;
    padding: 16px 24px;
    border-radius: 2px;
    margin: 24px;
    text-align: center; }
    .main .form .heading {
      font-size: 2rem;
      font-weight: 600; }
    .main .form .desc {
      color: #636d77;
      font-weight: lighter; }
    .main .form .form-group {
      display: flex;
      margin-bottom: 16px;
      flex-direction: column; }
      .main .form .form-group .form-label {
        font-weight: 500;
        padding-bottom: 6px;
        text-align: left; }
      .main .form .form-group .form-message {
        text-align: left;
        width: 100%;
        padding: 4px 0 0; }
      .main .form .form-group .form-control {
        height: 40px;
        padding: 10px 12px;
        border: 1px solid #b3b3b3;
        border-radius: 3px;
        outline: none; }
      .main .form .form-group .form-control:hover {
        border-color: #2ca1c6; }
      .main .form .form-group .svg-captcha {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .main .form .form-group .svg-captcha .captchas {
          display: flex; }
          .main .form .form-group .svg-captcha .captchas .captcha {
            height: 40px;
            padding: 8px 12px;
            border: 1px solid #b3b3b3;
            border-radius: 3px;
            outline: none;
            margin-right: 0.25rem; }
          .main .form .form-group .svg-captcha .captchas .captcha:hover {
            border-color: #2ca1c6; }
          .main .form .form-group .svg-captcha .captchas .captcha:focus {
            box-shadow: 0 0 0 0.2rem rgba(0, 94, 255, 0.25); }
        .main .form .form-group .svg-captcha #change-captcha {
          height: 40px;
          width: 40px;
          border: 1px solid #b3b3b3;
          background-color: #fff;
          border-radius: 3px;
          outline: none;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-left: 4px; }
          .main .form .form-group .svg-captcha #change-captcha i {
            font-size: 24px; }
    .main .form .form-group.invalid .form-control {
      border-color: var(--danger-color); }
    .main .form .form-group.invalid .form-message {
      color: var(--danger-color); }
    .main .form .err {
      color: var(--danger-color); }
    .main .form .form-submit {
      outline: none;
      background-color: #2ca1c6;
      margin-top: 12px;
      padding: 8px 16px;
      font-weight: 600;
      color: #fff;
      border: none;
      width: 100%;
      font-size: 14px;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px; }
    .main .form .form-submit:hover {
      background-color: #33b4dc; }
    .main .form a {
      font-size: 20px;
      color: #2f1c6a;
      font-weight: 600; }

.app-content {
  position: relative;
  background: #e4e9f7;
  margin-top: 50px;
  padding: 24px 32px;
  left: 224px;
  width: calc(100% - 224px);
  transition: all 0.5s ease;
  height: 95vh; }

.sidebar.closes ~ .app-content {
  left: 60px;
  width: calc(100% - 60px); }

.profile {
  height: 100%;
  width: 100%; }
  .profile .row .user-info {
    min-height: 600px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #c7d5e6;
    border-radius: 8px;
    margin-bottom: 32px; }
  .profile .row .user-account {
    min-height: 600px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #c7d5e6;
    border-radius: 8px;
    margin-bottom: 32px; }
  .profile .row .header {
    height: 50px;
    background-color: #3a4060;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 32px;
    border-radius: 4px 4px 0 0;
    padding: 8px 16px; }
  .profile .row .body {
    margin: 0 24px;
    padding: 24px;
    border-radius: 4px;
    border: 1px solid #c7d5e6; }
    .profile .row .body .form-group {
      align-items: center; }
      .profile .row .body .form-group textarea {
        min-height: 76px; }
      .profile .row .body .form-group label {
        text-align: right;
        font-weight: 500; }
      .profile .row .body .form-group .svg-captcha {
        display: flex;
        gap: 4px; }

.home .home-title {
  background-color: #fff;
  font-size: 24px;
  font-weight: 600;
  border-radius: 4px;
  border: 1px solid #c7d5e6;
  padding: 8px 24px; }

.card-group .card-header {
  display: flex;
  justify-content: space-between;
  background-color: #3a4060;
  padding: 0 16px;
  align-items: center; }
  .card-group .card-header .header {
    display: flex;
    align-items: center;
    margin-top: 16px; }
    .card-group .card-header .header .nav-tabs {
      border: none; }
      .card-group .card-header .header .nav-tabs .nav-link.active {
        color: #2f1c6a;
        border: none; }
      .card-group .card-header .header .nav-tabs a {
        min-width: 120px;
        text-align: center;
        color: #b4c2d4;
        border: none;
        padding: 12px 16px;
        margin-bottom: -24px; }
  .card-group .card-header h5 {
    color: #fff;
    margin: 10px 24px 10px 8px;
    min-width: 200px; }
  .card-group .card-header p {
    color: #b4c2d4;
    font-size: 12px;
    margin-left: 12px;
    margin-bottom: 8px; }
  .card-group .card-header button {
    margin-left: 12px; }

.card-group .card-body table tr,
.card-group .card-body table td {
  min-width: 100px;
  font-size: 14px; }

.card-group .card-body table tr {
  text-align: center;
  align-items: center; }

.card-group .card-body table td {
  vertical-align: middle;
  text-align: center;
  align-items: center; }
  .card-group .card-body table td input {
    padding: 6px 12px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #c7d5e6;
    max-width: 148px; }

.card-group .card-body .body {
  min-height: 65vh;
  max-height: 65vh;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  border: 1px solid #c7d5e6; }

.card-group .card-body .sort {
  margin-left: 16px;
  margin-bottom: 24px;
  gap: 16px; }

.card-group .card-body .trash-body {
  min-height: 65vh;
  max-height: 65vh;
  overflow: scroll;
  padding: 0 1rem; }
  .card-group .card-body .trash-body .card {
    margin-bottom: 16px; }
    .card-group .card-body .trash-body .card .card-header {
      background-color: #e4e9f7; }
      .card-group .card-body .trash-body .card .card-header h5 {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center; }
        .card-group .card-body .trash-body .card .card-header h5 .btn-shows {
          background-color: #e4e9f7;
          width: 100%;
          text-align: left; }
        .card-group .card-body .trash-body .card .card-header h5 .btn-shows:focus {
          box-shadow: none; }

.card-group .card-body .card-links {
  border: 1px solid #c7d5e6;
  min-height: 68vh;
  max-height: 68vh;
  padding: 0 16px;
  border-radius: 8px; }
  .card-group .card-body .card-links .card-link {
    width: 100%;
    margin: 16px 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #fff; }
    .card-group .card-body .card-links .card-link .card-body-hover {
      display: none; }
    .card-group .card-body .card-links .card-link .card-body {
      background-color: #31b7cb;
      min-height: 180px;
      max-height: 180px;
      color: #fff; }
      .card-group .card-body .card-links .card-link .card-body .card-text {
        color: #fff; }
    .card-group .card-body .card-links .card-link .card-footer {
      display: flex;
      justify-content: space-between;
      padding: 8px 16px; }
      .card-group .card-body .card-links .card-link .card-footer h5 {
        margin: 0;
        font-size: 16px;
        margin-top: 4px; }
      .card-group .card-body .card-links .card-link .card-footer #perPage {
        padding: 4px 8px;
        margin-left: 16px; }
  .card-group .card-body .card-links .card-link:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; }
  .card-group .card-body .card-links .card-link:hover .card-body-hover {
    display: block !important; }
  .card-group .card-body .card-links .card-link:hover .card-body {
    display: none; }
  .card-group .card-body .card-links .card-link:hover a {
    text-decoration: none; }

.card-group .card-body label {
  text-align: right;
  font-weight: 500; }

.card-group .card-body textarea {
  min-height: 120px; }

.card-group select {
  min-height: 20px;
  min-width: 96px;
  padding: 5px 8px;
  border-radius: 4px;
  border: 1px solid #c7d5e6;
  margin: 0 16px; }

.card-group .card-footer {
  padding: 4px 8px; }
  .card-group .card-footer .justify-content-center {
    display: flex;
    align-items: center; }
  .card-group .card-footer button {
    width: 100%;
    border: 1px solid #c7d5e6; }
  .card-group .card-footer input {
    padding: 4px 8px;
    margin: 0 4px;
    border: 1px solid #c7d5e6;
    border-radius: 4px;
    max-width: 80px; }

.card-group i {
  color: #fff;
  margin-right: 4px; }

.modal-dialog {
  width: 60vw;
  margin: 16px; }
  .modal-dialog label {
    width: 100%; }
    .modal-dialog label .debt {
      text-align: center;
      background-color: #c8ced3;
      color: #fff; }
    .modal-dialog label .debts {
      cursor: pointer; }
    .modal-dialog label .choose {
      background-color: #17a2b8; }

@media (min-width: 576px) {
  .modal-dialog {
    max-width: none;
    margin: 32px auto; } }

.icon {
  font-size: 20px; }

@media (max-width: 1200px) {
  .app-content {
    height: 200vh; } }

@media (max-width: 800px) {
  .sidebar {
    width: 64px; }
    .sidebar .header-name {
      opacity: 0; }
    .sidebar .toggle {
      display: none; }
    .sidebar .link-name {
      display: none; }
  .app-content {
    left: 64px;
    width: calc(100% - 64px); }
  .app-header .content-header {
    left: 60px;
    width: calc(100% - 60px); } }
