<header class="app-header fixed-top">
  <div class="dropdown">
    <a
      class="btn dropdown-toggle"
      href="#"
      id="dropdownMenuLink"
      data-toggle="dropdown"
    >
      Nguyen
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#">User infomation</a>
      <a class="dropdown-item" href="/logout">Logout</a>
    </div>
  </div>
</header>