<button type="button" class="btn btn-primary" id="showNoti" style="display: none;" data-toggle="modal" data-target="#notification"></button>
<div class="modal fade" style="z-index: 5000;" id="notification">
    <div class="modal-dialog" style="width: 450px; top: -20px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Debit Book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>