<div class="drag-element">
    <div class="drag-handle">
        <span>Note title</span>
    </div>
    <div class="drag-content">
    </div>
</div>

<script>
    const element = document.querySelector('.drag-element');
    let pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;

    element.querySelector('.drag-handle').addEventListener('mousedown', dragMouseDown);

    function dragMouseDown(e) {
      e = e || window.event;
      e.preventDefault();
      pos3 = e.clientX;
      pos4 = e.clientY;
      document.onmouseup = closeDragElement;
      document.onmousemove = elementDrag;
    }

    function elementDrag(e) {
      e = e || window.event;
      e.preventDefault();
      pos1 = pos3 - e.clientX;
      pos2 = pos4 - e.clientY;
      pos3 = e.clientX;
      pos4 = e.clientY;
      element.style.top = (element.offsetTop - pos2) + "px";
      element.style.left = (element.offsetLeft - pos1) + "px";
    }

    function closeDragElement() {
      document.onmouseup = null;
      document.onmousemove = null;
    }


  </script>