<div class="sidebar">
  <a class="header-name" href="#">WhySo.</a>
  <ul class="nav-links">
    <div>
      <li>
        <a href="#">
          <i class="bx bx-home"></i>
          <span class="link-name">Home</span>
        </a>
      </li>
      <li class="active">
        <a href="#">
          <i class="bx bx-user"></i>
          <span class="link-name">User</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-notepad"></i>
          <span class="link-name">Finance</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-bell"></i>
          <span class="link-name">Notification</span>
        </a>
      </li>
      {{#if (compare user.role 0)}}
        <li>
          <a href="#">
            <i class="bx bx-cog"></i>
            <span class="link-name">Control</span>
          </a>
        </li>
      {{/if}}

    </div>

    <li>
      <div class="toggle">
        <i class="bx bx-chevron-left"></i>
      </div>
    </li>
  </ul>
</div>

<script>
  const sidebar = document.querySelector('.sidebar'); 
  const sidebarBtn = document.querySelector('.toggle');
  sidebarBtn.addEventListener('click', () => {
  sidebar.classList.toggle('closes'); });

  const navLinks = document.querySelectorAll('li');
  navLinks.forEach(navLink => {
    navLink.addEventListener('click', event => {
      // Lấy thẻ cha gần nhất của thẻ li
      const navLink = event.target.closest('li');
      if (navLink) {
        navLinks.forEach(item => {
          item.classList.remove('active');
        });
        navLink.classList.add('active');
      }
    })
  })
</script>