<div class="sidebar">
  <a class="header-name" href="#">WhySo.</a>
  <ul class="nav-links">
    <div>
      <li>
        <a href="#">
          <i class="bx bx-home"></i>
          <span class="link-name">Home</span>
        </a>
      </li>
      <li class="active">
        <a href="#">
          <i class="bx bx-user"></i>
          <span class="link-name">User</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-notepad"></i>
          <span class="link-name">Finance</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-bell"></i>
          <span class="link-name">Notification</span>
        </a>
      </li>
      {{#if (compare user.role 0)}}
        <li>
          <a href="#">
            <i class="bx bx-cog"></i>
            <span class="link-name">Control</span>
          </a>
        </li>
      {{/if}}

    </div>

    <li>
      <div class="toggle">
        <i class="bx bx-chevron-left"></i>
      </div>
    </li>
  </ul>
</div>

<script>
  const sidebar = document.querySelector(".sidebar"); const sidebarBtn =
  document.querySelector(".bx-chevron-left");
  sidebarBtn.addEventListener("click", () => {
  sidebar.classList.toggle("closes"); });
</script>