<div class="sidebar">
  <a class="header-name" href="#">Pikachu</a>
  <input type="hidden" id="title" value="{{ title }}" />
  <ul class="nav-links">
    <div>
      <li>
        <a href="/">
          <i class="bx bx-home"></i>
          <span class="link-name">Home</span>
        </a>
      </li>
      <li id="profile">
        <a href="/profile" >
          <i class="bx bx-user"></i>
          <span class="link-name">User</span>
        </a>
      </li>
      <li class="dropdownMenu showMenu">
        <div class="dropdownItem">
          <a>
            <i class="bx bx-notepad"></i>
            <span class="link-name">Finance</span>
          </a>
          <i class='bx bxs-chevron-down arrow'></i>
        </div>
        <ul class="sub-menu">
          <li><a href="/finance/debtor" >Sổ ghi nợ</a></li>
          <li><a href="/finance/trash" >Thùng rác</a></li>
        </ul>
      </li>
      {{#if (compare user.role 0)}}
        <li>
          <a href="/control">
            <i class="bx bx-cog"></i>
            <span class="link-name">Control</span>
          </a>
        </li>
      {{/if}}

    </div>

    <div>
      <div class="toggle">
        <i class="bx bx-chevron-left"></i>
      </div>
    </div>
  </ul>
</div>

<script>
  const sidebar = document.querySelector('.sidebar'); 
  const sidebarBtn = document.querySelector('.toggle');
  sidebarBtn.addEventListener('click', () => {
  sidebar.classList.toggle('closes'); });

  const dropdownMenu = document.querySelectorAll('.dropdownMenu');
  dropdownMenu.forEach(dropdown => {
    dropdown.addEventListener('click', e => {
      const dropdown = e.target.closest('li');
      if (dropdown) {
        dropdown.classList.toggle('showMenu');
      }
    })
  });

  const navLinks = document.querySelectorAll('li');
  const title = document.querySelector('#title').value; 

  if ( title == 'Home' ) {
    navLinks[0].classList.add('active');
  } 
  if ( title == 'Profile' ) {
    navLinks[1].classList.add('active');
  }
  if ( title == 'Finance' ) {
    navLinks[2].classList.add('active');
  }
  if ( title == 'Control' ) {
    navLinks[5].classList.add('active');
  }
</script>