<div class="sidebar">
    <div class="menu-sidebar">
            <ul>
                <li>
                    <a href="#">
                        <div>
                            <i class="fa-regular fa-user icon"></i>
                            <span class="text-icon">Trang chủ</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <i class="fa-regular fa-user icon"></i>
                            <span class="text-icon">Người dùng</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <i class="fa-regular fa-user icon"></i>
                            <span class="text-icon">Sổ ghi nợ</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <i class="fa-regular fa-bell icon"></i>
                            <span class="text-icon">Thông báo</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#nav-note">
                        <div>
                            <i class="fa-regular fa-pen-to-square icon"></i>
                            <span class="text-icon">Ghi chú</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
</div>