<div class="card-group">
    <div class="card">
        <div class="card-header">
            <div>
                <h5>Danh sách người dùng</h5>
                <p>Total: <span id="totalRecord"></span> record(s)</p>
            </div>
        </div>
        <div class="card-body">
            <div class="body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">account</th>
                            <th scope="col">Full name</th>
                            <th scope="col">email</th>
                            <th scope="col">Ngày tạo tài khoản</th>
                            <th scope="col">Lần đăng nhập cuối</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>

        <div class="card-footer">
            <div class="row">
                <div class="col-sm-4 justify-content-center">
                    <button class="btn btn-light" onclick="prePageControl()" id="prePage" disabled>Previous</button>
                </div>
                <div class="col justify-content-center">
                    <span>Page
                        <input type="number" id="currentPage" onchange="choosePageControl()" />/<span id="pages"></span>
                    </span>
                    <select id="perPage" onchange="handleControl()">
                        <option value="50">50 record</option>
                    </select>
                </div>
                <div class="col-sm-4 justify-content-center">
                    <button class="btn btn-light" onclick="nextPageControl()" id="nextPage">Next</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function showControl() {
        const perPage = Number(document.querySelector('#perPage').value);
        const xhr = new XMLHttpRequest();
        xhr.open('GET', `${window.location.origin}/control/show/?perPage=${perPage}`);
        xhr.onload = function () {
            if (xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);
                let data = response.data;
                let count = response.count;
                let page = response.page;
                let tbody = document.querySelector('tbody');
                let perPage = Number(document.querySelector('#perPage').value);
                let pages = Math.ceil(count / perPage);
                pages = (pages === 0) ? 1 : pages;

                tbody.innerHTML = '';

                for (let [index, { account, fullname, email, createAt, lastLogin }] of data.entries()) {
                    createAt = dateTimeHelper(createAt);
                    lastLogin = dateTimeHelper(lastLogin);
                    let row = tbody.insertRow();
                    row.insertCell().innerHTML = index + 1 + (page - 1) * perPage;
                    row.insertCell().innerHTML = account;
                    row.insertCell().innerHTML = fullname;;
                    row.insertCell().innerHTML = email;
                    row.insertCell().innerHTML = createAt;
                    row.insertCell().innerHTML = lastLogin;
                }

                document.getElementById('currentPage').value = page;
                document.getElementById('pages').textContent = pages;
                document.getElementById('totalRecord').textContent = count;

                if (page >= pages) {
                    document.getElementById('currentPage').value = pages;
                    document.getElementById('nextPage').disabled = true;
                };
                if (page === 1) {
                    document.getElementById('prePage').disabled = true;
                };
                if (page < pages) {
                    document.getElementById('nextPage').disabled = false;
                }
                if (page > 1) {
                    document.getElementById('prePage').disabled = false;
                };
            }
        };

        xhr.send();
    }
    showControl();
</script>