<div class="card-group">
    <div class="card">
        <div class="card-header">
            <div>
                <h5>Danh sách người dùng</h5>
                <p>Total: <span id="totalRecord"></span> record(s)</p>
            </div>
        </div>
        <div class="card-body">
            <div class="body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col"> STT</th>
                            <th scope="col" class="sortDebt">
                                <div class="sortDebtAsc" onclick="sortByAccountAsc()"></div>
                                <div class="sortDebtDesc" onclick="sortByAccountDesc()"></div>
                                Account
                            </th>
                            <th scope="col" class="sortDebt">
                                <div class="sortDebtAsc" onclick="sortByEmailAsc()"></div>
                                <div class="sortDebtDesc" onclick="sortByEmailDesc()"></div>
                                Email
                            </th>
                            <th scope="col" class="sortDebt">
                                <div class="sortDebtAsc" onclick="sortByCreateAtAsc()"></div>
                                <div class="sortDebtDesc" onclick="sortByCreateAtDesc()"></div>
                                Ngày tạo tài khoản
                            </th>
                            <th scope="col" class="sortDebt">
                                <div class="sortDebtAsc" onclick="sortByLastLoginAsc()"></div>
                                <div class="sortDebtDesc chooseSortDesc" onclick="sortByLastLoginDesc()"></div>
                                Lần đăng nhập cuối
                            </th>
                            <th scope="col" class="actionTableHeader">Action</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th><input type="text" id="accountFilter" oninput="handlefilterControl()" /></th>
                            <th><input type="text" id="emailFilter" oninput="handlefilterControl()" /></th>
                            <th>
                                <input type="datetime-local" id="minCreateAt" onchange="handlefilterControl()" />
                                <input type="datetime-local" id="maxCreateAt" onchange="handlefilterControl()" />
                            </th>
                            <th>
                                <input type="datetime-local" id="minLastLogin" onchange="handlefilterControl()" />
                                <input type="datetime-local" id="maxLastLogin" onchange="handlefilterControl()" />
                            </th>
                            <th class="actionTableHeader">
                                <button type="button" class="btn btn-info" onclick="clearFilter()">
                                    Clear filter</button>
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

        <div class="card-footer">
            <div class="row">
                <div class="col-sm-4 justify-content-center">
                    <button class="btn btn-light" onclick="prevPageControl()" id="prevPage" disabled>Previous</button>
                </div>
                <div class="col justify-content-center">
                    <span>Page
                        <input type="number" id="currentPage" onchange="choosePageControl()" />/<span id="pages"></span>
                    </span>
                    <select id="perPage" onchange="handlefilterControl()">
                        <option value="5">5 record</option>
                        <option value="10">10 record</option>
                        <option value="50">50 record</option>
                    </select>
                </div>
                <div class="col-sm-4 justify-content-center">
                    <button class="btn btn-light" onclick="nextPageControl()" id="nextPage">Next</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/control.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        control();
        handleSort();
    });
</script>