<div class="home">
  <div id="calendar">
    <div class="card-group">
      <div class="card">
        <div class="card-header">
          <div class="header">
            <h5>My Calendar</h5>
            <ul class="nav nav-tabs">
              <li class="nav-item" class="choose">
                <a class="nav-link active" class="active" data-toggle="tab" href="#month">Month</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#week">Week</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#list">List</a>
              </li>
            </ul>
          </div>
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addEvent">
            <i class="fa-solid fa-plus"></i>
            Thêm sự kiện
          </button>
        </div>
        <div class="tab-content">
          <div id="month" class="tab-pane active">
            <div class="card-body">
              <div class="header-calendar">
                <div class="today">
                  <div class="arrows">
                    <i class="fa-solid fa-angle-left arrow prev"></i>
                    <i class="fa-solid fa-angle-right arrow next"></i>
                  </div>
                  <a href="#today">
                    <div class="title-today">Today</div>
                  </a>
                </div>
                <div class="months"><span></span></div>
                <div style="opacity: 0; width: 270px; height: 40px;"></div>
              </div>
              <div class="body-calendar">
                <div class="week-days">
                  <div class="week-day">Sun</div>
                  <div class="week-day">Mon</div>
                  <div class="week-day">Tue</div>
                  <div class="week-day">Wed</div>
                  <div class="week-day">Thu</div>
                  <div class="week-day">Fri</div>
                  <div class="week-day">Sat</div>
                </div>
                <div class="days"></div>
              </div>
            </div>
          </div>
          <div id="week" class="tab-pane fade">
            <div class="card-body">
              <div class="header">
                <div class="prevWeek"><i class="bx bx-chevron-left"></i></div>
                <h2 class="titleWeek"></h2>
                <div class="nextWeek"><i class="bx bx-chevron-right"></i></div>
              </div>
              <div class="body-calendar">
                <div class="weekView">
                  <div class="times">
                    <div class="time"></div>
                    <div class="time"></div>
                    <div class="time">06:00 - 08:00</div>
                    <div class="time">08:00 - 10:00</div>
                    <div class="time">10:00 - 12:00</div>
                    <div class="time">12:00 - 14:00</div>
                    <div class="time">14:00 - 16:00</div>
                    <div class="time">16:00 - 18:00</div>
                    <div class="time">18:00 - 20:00</div>
                    <div class="time">20:00 - 22:00</div>
                  </div>
                  <div style="width: 100%;">
                    <div class="weekDays">
                      <div class="weekDay"><b>Sun</b></div>
                      <div class="weekDay"><b>Mon</b></div>
                      <div class="weekDay"><b>Tue</b></div>
                      <div class="weekDay"><b>Wed</b></div>
                      <div class="weekDay"><b>Thu</b></div>
                      <div class="weekDay"><b>Fri</b></div>
                      <div class="weekDay"><b>Sat</b></div>
                    </div>
                    <div class="weekDays"></div>
                    <div class="weekDays"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="showEvent">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="card-group">
          <div class="card">
            <div class="card-header">
              <div>
                <h5></h5>
                <p> Total: <span id="totalRecord"></span> Record(s)</p>
              </div>
            </div>
            <div class="card-body">
              <div class="showEvents">
                <h5 class="center"></h5>
                <div id="accordion">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addEvent">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="card-group">
          <div class="card">
            <div class="card-header">
              <h5>Thông tin sự kiện</h5>
            </div>
            <div class="card-body">
              <form>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Tiêu đề (*)</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="titleEvent">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Thời gian (*)</label>
                  <div class="col-sm-9">
                    <input type="datetime-local" class="form-control" id="time">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Thông báo</label>
                  <select id="notice">
                    <option value="1">Trước 5 phút</option>
                    <option value="2">Trước 10 phút</option>
                    <option value="3">Trước 30 phút</option>
                    <option value="4">Trước 1 tiếng</option>
                    <option value="5">Trước 3 tiếng</option>
                    <option value="6">Trước 9 tiếng</option>
                    <option value="7">Trước 1 ngày</option>
                  </select>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Mô tả </label>
                  <div class="col-sm-9">
                    <textarea type="text" class="form-control" id="description"> </textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-3"></div>
                  <div class="col-sm-9">
                    <button type="submit" class="btn btn-info" id="addEventBtn">
                      Thêm sự kiện
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/calendar.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    calendarMonth();
  });
</script>

<script>
  const titleWeek = document.querySelector('.titleWeek');
  const days = document.querySelectorAll('.weekDays')[1];
  const eventWeeks = document.querySelectorAll('.weekDays')[2];

  // Get current date
  const currentDate = new Date();

  function weekView() {
    // Set titleWeek to current week range
    const firstDayOfWeek = new Date(currentDate.getFullYear(), currentDate.getMonth(), currentDate.getDate() - currentDate.getDay());
    const lastDayOfWeek = new Date(currentDate.getFullYear(), currentDate.getMonth(), currentDate.getDate() - currentDate.getDay() + 6);
    titleWeek.textContent = `${firstDayOfWeek.toLocaleDateString()} - ${lastDayOfWeek.toLocaleDateString()}`;

    // Remove existing days
    days.innerHTML = '';
    eventWeeks.innerHTML = '';

    for (let j = 0; j < 56; j++) {
      const eventWeek = document.createElement('div');
      eventWeek.classList.add('weekDay');
      eventWeek.textContent = '';
      eventWeeks.appendChild(eventWeek);
    };

    // Generate days of the week
    for (let i = 0; i < 7; i++) {
      const day = document.createElement('div');
      day.classList.add('weekDay');
      const date = new Date(currentDate.getFullYear(), currentDate.getMonth(), currentDate.getDate() - currentDate.getDay() + i);
      if (date.getDate() === (new Date()).getDate() && currentDate.getMonth() === (new Date()).getMonth() && currentDate.getFullYear() === (new Date()).getFullYear()) {
        day.classList.add('current-day');
      }

      days.appendChild(day);
      day.textContent = date.getDate();

      const events = document.createElement('ul');
      events.classList.add('events');
      day.appendChild(events);
    };
  }

  weekView();

  // Add event listener to prev button
  const prevBtn = document.querySelector('.prevWeek');
  prevBtn.addEventListener('click', () => {
    currentDate.setDate(currentDate.getDate() - 7);
    weekView();
  });

  // Add event listener to next button
  const nextBtn = document.querySelector('.nextWeek');
  nextBtn.addEventListener('click', () => {
    currentDate.setDate(currentDate.getDate() + 7);
    weekView();
  });
</script>