<div class="main">
  <div class="intro-left">
    <div class="intro-button">
      <a href="/login">Login</a>
    </div>
    <div class="intro-button">
      <a href="/signup">Signup</a>
    </div>
  </div>
  <div class="intro-right bg-dark">
    <h3>INTRODUCTION</h3>
  </div>
</div>