<div class="main">
  <form id="form" action="/login" method="post" class="form">

    <h3 class="heading">Đăng nhập</h3>
    <p class="desc">Đăng nhập sổ ghi nợ</p>
    <span class="err">{{ err }}</span>

    <div class="form-group mt-4">
      <label for="email" class="form-label">Email (*)</label>
      <input
        id="email"
        name="email"
        type="text"
        placeholder="VD: email@domain.com"
        class="form-control"
      />
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <label for="password" class="form-label">Mật khẩu (*)</label>
      <input
        id="password"
        name="password"
        type="password"
        placeholder="Nhập mật khẩu"
        class="form-control"
      />
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <div class="svg-captcha">
        <img src="{{ captchaURL }}" id="captcha-img" />
        <div>
          <div>
            <input
            id="captcha"
            name="captcha"
            type="text"
            placeholder="Captcha"
            class="captcha"
            />
            <button type="button" id="change-captcha">Đổi</button>
          </div>
          <span class="form-message"></span>
        </div>
      </div>
    </div>
    <button type="submit" class="form-submit">Đăng nhập</button>
    
    <div class="spacer mt-4"></div>
    <div class="row">
      <div class="col-6 col-lg-6">
        <a href="/passwordrr">Quên mật khẩu</a>
      </div>
      <div class="col-6 col-lg-6">
        <a href="/signup">Đăng ký</a>
      </div>
    </div>
  </form>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    Validator({
      form: '#form',
      formGroupSelector: '.form-group',
      errorSelector: '.form-message',
      rules: [
          Validator.isRequired('#email', 'Vui lòng nhập email'),
          Validator.isEmail('#email'),
          Validator.isRequired('#password', 'Vui lòng nhập mật khẩu'),
          Validator.minLength('#password', 6),
      ],
    });
    changeCaptcha();
  })
          
</script>
