<div class="main">
  <form action="/signup" method="POST" class="form" id="signup-form">
    <h3 class="heading">Đăng ký</h3>
    <p class="desc">đăng ký thành viên</p>

    <div class="spacer"></div>

    <div class="form-group">
      <label for="fullname" class="form-label">Tên đầy đủ</label>
      <input
        id="name"
        name="name"
        type="text"
        placeholder="VD: Lê Trần Tiến Đông"
        class="form-control"
      />
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <label for="email" class="form-label">Email</label>
      <input
        id="email"
        name="email"
        type="text"
        placeholder="VD: email@domain.com"
        class="form-control"
      />
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <label for="password" class="form-label">Mật khẩu</label>
      <input
        id="password"
        name="password"
        type="password"
        placeholder="Nhập mật khẩu"
        class="form-control"
      />
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <label for="password_confirmation" class="form-label">Nhập lại mật khẩu</label>
      <input
        id="password_confirmation"
        name="password_confirmation"
        placeholder="Nhập lại mật khẩu"
        type="password"
        class="form-control"
      />
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <label for="captcha" class="form-label">Captcha:</label>
      <input
        id="captcha"
        name="captcha"
        type="text"
        placeholder="Nhập mã captcha"
      />
      <img src="{{captchaURL}}" id="captcha-img" />
      <button type="button" id="change-captcha">Đổi</button>
    </div>
    <button class="form-submit">Đăng ký</button>
  </form>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    {{!-- Validator({
      form: '#signup-form',
      formGroupSelector: '.form-group',
      errorSelector: '.form-message',
      rules: [
          Validator.isRequired('#fullname', 'Vui lòng nhập tên đầy đủ của bạn'),
          Validator.isEmail('#email'),
          Validator.minLength('#password', 6),
          Validator.isRequired('#password_confirmation'),
          Validator.isConfirmed('#password_confirmation', function () {
            return document.querySelector('#signup-form #password').value;
          }, 'Mật khẩu nhập lại không chính xác')
      ],
    }); --}}
    changeCaptcha();
  });
</script>