<div class="card-group">
  <div class="card">
    <div class="card-header">
      <div>
        <h5>Danh sách khoản nợ đã xóa</h5>
        <p>Total: <span id="totalRecord"></span> record(s)</p>
      </div>
      <div>
        <a href="./">
          <button type="button" class="btn btn-info">
            <i class="bx bx-notepad"></i>
            Sổ ghi nợ
          </button>
        </a>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="nameDebtor">
          <label for="#nameDebtor">Tên người nợ</label>
          <select id="nameDebtor" onchange="handlefilterTrash()">
            {{#each data}}
            <option value="{{ this.slug }}"> {{ this.name }} </option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="body" style="min-height: 470px; max-height: 470px;">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col"> STT</th>
              <th scope="col" class="sortDebt">
                <div class="sortDebtAsc" onclick="sortByNoteAsc()"></div>
                <div class="sortDebtDesc" onclick="sortByNoteDesc()"></div>
                Ghi chú
              </th>
              <th scope="col" class="sortDebt">
                <div class="sortDebtAsc" onclick="sortByTypeAsc()"></div>
                <div class="sortDebtDesc" onclick="sortByTypeDesc()"></div>
                Loại nợ
              </th>
              <th scope="col" class="sortDebt">
                <div class="sortDebtAsc" onclick="sortByMonneyAsc()"></div>
                <div class="sortDebtDesc" onclick="sortByMonneyDesc()"></div>
                Số tiền
              </th>
              <th scope="col" class="sortDebt">
                <div class="sortDebtAsc" onclick="sortByTimeDebtAsc()"></div>
                <div class="sortDebtDesc" onclick="sortByTimeDebtDesc()"></div>
                Ngày lập phiếu
              </th>
              <th scope="col" class="sortDebt">
                <div class="sortDebtAsc" onclick="sortByCreateAtAsc()"></div>
                <div class="sortDebtDesc" onclick="sortByCreateAtDesc()"></div>
                Thời gian tạo
              </th>
              <th scope="col" class="sortDebt">
                <div class="sortDebtAsc" onclick="sortByDeleteAtAsc()"></div>
                <div class="sortDebtDesc chooseSortDesc" onclick="sortByDeleteAtDesc()"></div>
                Thời gian xóa
              </th>
              <th scope="col" class="actionTableHeader">Action</th>
            </tr>
            <tr>
              <td></td>
              <td><input type="text" id="noteFilter" oninput="handlefilterTrash()" /></td>
              <td>
                <select id="typeFilter" onchange="handlefilterTrash()">
                  <option value="all">All</option>
                  <option value="+">+</option>
                  <option value="-">-</option>
                </select>
              </td>
              <td>
                <input type="number" id="minMonney" placeholder="from" oninput="handlefilterTrash()" />
                <input type="number" id="maxMonney" placeholder="to" oninput="handlefilterTrash()" />
              </td>
              <td>
                <input type="datetime-local" id="minTimeDebt" onchange="handlefilterTrash()" />
                <input type="datetime-local" id="maxTimeDebt" onchange="handlefilterTrash()" />
              </td>
              <td>
                <input type="datetime-local" id="minCreateAt" onchange="handlefilterTrash()" />
                <input type="datetime-local" id="maxCreateAt" onchange="handlefilterTrash()" />
              </td>
              <td>
                <input type="datetime-local" id="minDeleteAt" onchange="handlefilterTrash()" />
                <input type="datetime-local" id="maxDeleteAt" onchange="handlefilterTrash()" />
              </td>
              <td class="actionTableHeader">
                <button type="button" class="btn btn-info" onclick="clearFilter()">
                  Clear filter</button>
              </td>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
        <h5 class="center"></h5>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-sm-4 justify-content-center">
          <button class="btn btn-light" onclick="prevPageTrash()" id="prevPage" disabled>Previous</button>
        </div>
        <div class="col justify-content-center">
          <span>Page
            <input type="number" id="currentPage" value="1" onchange="choosePageTrash()" />/<span id="pages"></span>
          </span>
          <select id="perPage" onchange="handlefilterTrash()">
            <option value="5">5 record</option>
            <option value="10">10 record</option>
            <option value="50">50 record</option>
          </select>
        </div>
        <div class="col-sm-4 justify-content-center">
          <button class="btn btn-light" onclick="nextPageTrash()" id="nextPage">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="restoreDebt">
  <div class="modal-dialog" style="width: 450px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Khôi phục khoản nợ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn khôi phục khoản nợ này không
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="restoreDebtBtn" data-dismiss="modal">Khôi
          phục</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/trash.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    trash();
    restoreDebt();
    handleSort();
  });
</script>