<div class="card-group">
  <div class="card">
    <div class="card-header">
      <div>
        <h5>Danh sách khoản nợ đã xóa</h5>
        <p>Total: <span id="totalRecord"></span> record(s)</p>
      </div>
      <div>
        <a href="./">
          <button type="button" class="btn btn-info">
            <i class="bx bx-notepad"></i>
            Sổ ghi nợ
          </button>
        </a>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="sort">
        <label for="#nameDebtor">Tên người nợ</label>
        <select id="nameDebtor" onchange="trash()">
          {{#each data}}
            <option value="{{ this.slug }}"> {{ this.fullname }} </option>
          {{/each}}
        </select>
      </div>
      <div class="sort">
        <label for="#sort">Sắp xếp theo</label>
        <select id="sort">
          <option value="">Ngày xóa phiếu</option>
          <option value="">Ngày lập phiếu</option>
        </select>
        <select id="sortType">
          <option value="">Tăng dần</option>
          <option value="">Giảm dần</option>
        </select>
      </div>
      </div>
      <div class="trash-body">
        <div id="accordion">
          
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="restoreDebt" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document" style="width: 30vw;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Khôi phục khoản nợ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn khôi phục khoản nợ này hay không
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="restoreDebtBtn">Khôi phục</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<form name="restoreForm" method="GET"></form>

<script>
  document.addEventListener('DOMContentLoaded', function () {

    trash();

    var debtId;
    var restoreDebtBtn = document.querySelector('#restoreDebtBtn');
    var restoreForm = document.forms['restoreForm'];

    $('#restoreDebt').on('show.bs.modal', event => {
      var button = $(event.relatedTarget);
      debtId = button.data('id');
    });

    restoreDebtBtn.onclick = function () {
      restoreForm.action = '/finance/debt/restore/' + debtId;
      restoreForm.submit(); 
    };

  });
</script>