<div class="card-group">
  <div class="card">
    <div class="card-header">
      <div>
        <h5>Danh sách khoản nợ đã xóa</h5>
        <p>Total: <span id="totalRecord"></span> record(s)</p>
      </div>
      <div>
        <a href="./">
          <button type="button" class="btn btn-info">
            <i class="bx bx-notepad"></i>
            Sổ ghi nợ
          </button>
        </a>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="sort">
          <label for="#nameDebtor">Tên người nợ</label>
          <select id="nameDebtor" onchange="handleTrash()">
            {{#each data}}
            <option value="{{ this.slug }}"> {{ this.fullname }} </option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="body">
        <table class="table table-bordered header-fixed">
          <thead>
            <tr>
              <th scope="col">
                STT
              </th>
              <th scope="col" class="sortDebt">
                <div class="sortDebtAsc" onclick="sortByNoteTrashAsc()"></div>
                <div class="sortDebtDesc" onclick="sortByNoteTrashDesc()"></div>
                Ghi chú
              </th>
              <th scope="col" class="sortDebt">
                <div class="sortDebtAsc" onclick="sortByTypeTrashAsc()"></div>
                <div class="sortDebtDesc" onclick="sortByTypeTrashDesc()"></div>
                Loại nợ
              </th>
              <th scope="col" class="sortDebt">
                <div class="sortDebtAsc" onclick="sortByMonneyTrashAsc()"></div>
                <div class="sortDebtDesc" onclick="sortByMonneyTrashDesc()"></div>
                Số tiền
              </th>
              <th scope="col" class="sortDebt">
                <div class="sortDebtAsc" onclick="sortByTimeDebtTrashAsc()"></div>
                <div class="sortDebtDesc" onclick="sortByTimeDebtTrashDesc()"></div>
                Ngày lập phiếu
              </th>
              <th scope="col" class="sortDebt">
                <div class="sortDebtAsc" onclick="sortByCreateAtTrashAsc()"></div>
                <div class="sortDebtDesc" onclick="sortByCreateAtTrashDesc()"></div>
                Thời gian tạo
              </th>
              <th scope="col" class="sortDebt">
                <div class="sortDebtAsc chooseSortAsc" onclick="sortByDeleteAtTrashAsc()"></div>
                <div class="sortDebtDesc" onclick="sortByDeleteAtTrashDesc()"></div>
                Thời gian tạo
              </th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody class="scrollable"></tbody>
        </table>
        <h5 class="center"></h5>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-sm-4 justify-content-center">
          <button class="btn btn-light" onclick="prePageTrash()" id="prePage" disabled>Previous</button>
        </div>
        <div class="col justify-content-center">
          <span>Page
            <input type="number" id="currentPage" onchange="choosePageTrash()" />/<span id="pages"></span>
          </span>
          <select id="perPage" onchange="handleTrash()">
            <option value="5">5 record</option>
            <option value="10">10 record</option>
            <option value="50">50 record</option>
          </select>
        </div>
        <div class="col-sm-4 justify-content-center">
          <button class="btn btn-light" onclick="nextPageTrash()" id="nextPage">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="restoreDebt" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document" style="width: 30vw;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Khôi phục khoản nợ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn khôi phục khoản nợ này hay không
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="restoreDebtBtn">Khôi phục</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    trash();
    handleRestoreDebt();
  });
</script>

<script>
    const sortDebtAsc = document.querySelectorAll('.sortDebtAsc');
    const sortDebtDesc = document.querySelectorAll('.sortDebtDesc');
    const sortDebt = document.querySelectorAll('.sortDebt');
    sortDebtAsc.forEach(sa => {
        sa.addEventListener('click', e => {
            sortDebtAsc.forEach(sa => {
                sa.classList.remove('chooseSortAsc');
            })
            sortDebtDesc.forEach(sd => {
                sd.classList.remove('chooseSortDesc');
            })
            e.target.classList.add('chooseSortAsc');
        })
    })
    sortDebtDesc.forEach(sd => {
        sd.addEventListener('click', e => {
            sortDebtAsc.forEach(sa => {
                sa.classList.remove('chooseSortAsc');
            })
            sortDebtDesc.forEach(sd => {
                sd.classList.remove('chooseSortDesc');
            })
            e.target.classList.add('chooseSortDesc');
        })
    })
    
</script>